@mixin background($url, $opacity) {
  background: linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)),
    $url no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
@mixin imageBorder() {
  border-bottom: 5px solid;

  -webkit-border-image: url("../images/border.png") 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url("../images/border.png") 30 stretch; /* Opera 11-12.1 */
  border-image: url("../images/border.png") 30 stretch;
}
