@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans/PTSans.ttf") format("truetype");
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro.otf") format("truetype");
}
