#about-company {
  padding-top: 40px;
  padding-bottom: 55px; }
  #about-company h1 {
    font-family: "PT Sans";
    color: #128dba;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 50px; }
  #about-company .about-text p {
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000; }
  #about-company .flags {
    padding-top: 50px; }
    #about-company .flags .flag-item a:hover {
      text-decoration: unset; }
    #about-company .flags .flag-item__image {
      min-height: 153px; }
    #about-company .flags .flag-item__text {
      font-family: "Myriad Pro";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #000; }
