@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans/PTSans.ttf") format("truetype"); }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro/MyriadPro.otf") format("truetype"); }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/LatoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/LatoLight.ttf") format("truetype"); }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  min-height: 900px; }

#our-services {
  background-image: url("../images/our-services-bg.png");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  padding-top: 70px;
  padding-bottom: 55px;
  border-bottom: 5px solid;
  -webkit-border-image: url("../images/border.png") 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url("../images/border.png") 30 stretch;
  /* Opera 11-12.1 */
  border-image: url("../images/border.png") 30 stretch; }
  #our-services h1 {
    font-family: "PT Sans";
    color: #000;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 80px; }
  #our-services .services-item {
    margin-bottom: 110px; }
    #our-services .services-item a {
      display: block;
      transition: 0.3s ease-in-out; }
      #our-services .services-item a:hover {
        text-decoration: unset;
        transform: scale(1.1); }
    #our-services .services-item__image {
      padding-bottom: 20px;
      min-height: 120px; }
    #our-services .services-item__text p {
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px; }
  #our-services .services-item:nth-last-child(-n + 3) {
    margin-bottom: 0; }

#about-company {
  padding-top: 40px;
  padding-bottom: 55px;
  border-bottom: 5px solid;
  -webkit-border-image: url("../images/border.png") 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url("../images/border.png") 30 stretch;
  /* Opera 11-12.1 */
  border-image: url("../images/border.png") 30 stretch; }
  #about-company h1 {
    font-family: "PT Sans";
    color: #128dba;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 50px; }
  #about-company .about-text {
    background-image: url("../images/about-bg.png");
    background-position: left center;
    background-repeat: no-repeat no-repeat;
    background-size: contain; }
    #about-company .about-text p {
      font-family: "Myriad Pro";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #000; }
  #about-company .flags {
    padding-top: 50px; }
    #about-company .flags .flag-item a:hover {
      text-decoration: unset; }
    #about-company .flags .flag-item__image {
      min-height: 153px; }
    #about-company .flags .flag-item__text {
      font-family: "Myriad Pro";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #000; }

#achievements {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/achievements-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  border-bottom: 5px solid;
  -webkit-border-image: url("../images/border.png") 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url("../images/border.png") 30 stretch;
  /* Opera 11-12.1 */
  border-image: url("../images/border.png") 30 stretch;
  padding: 80px 0; }
  #achievements h1 {
    padding-bottom: 70px;
    font-family: "PT Sans";
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 80px; }
  #achievements .achievement__icon img {
    max-width: 55px; }
  #achievements .achievement__text {
    font-family: "Myriad Pro";
    color: #fff; }
    #achievements .achievement__text b {
      font-size: 40px; }
    #achievements .achievement__text p {
      font-size: 23px;
      font-weight: 400; }

#go-to-spain {
  padding-top: 60px;
  padding-bottom: 80px; }
  #go-to-spain h1 {
    font-family: "PT Sans", sans-serif;
    color: #008ebd;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 55px; }
  #go-to-spain .go-to-spain-text {
    background-image: url("../images/spain-flag-lg.png");
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    padding: 30px 0; }
    #go-to-spain .go-to-spain-text p,
    #go-to-spain .go-to-spain-text ul {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      letter-spacing: 0.9px;
      font-size: 18px;
      color: #000; }

#get-call {
  padding: 20px 0;
  background-color: #008fc0; }
  #get-call h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.8px; }
  #get-call button {
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.05px;
    background-color: #08507a;
    color: #fff;
    border-radius: 10px; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #get-call button {
      font-size: 18px; }
    #get-call h2 {
      font-size: 19px; } }
  @media screen and (max-width: 767px) {
    #get-call {
      padding: 25px 0; }
      #get-call button {
        font-size: 18px;
        margin: auto;
        display: block; }
      #get-call h2 {
        padding-bottom: 15px;
        text-align: center;
        font-size: 19px; } }

footer {
  background-color: #f4f2f2;
  padding-top: 55px; }
  footer h1 {
    color: #008fc0;
    font-family: "Myriad Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.25px; }
  footer ul li a {
    color: #696969;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px; }
    footer ul li a:hover {
      text-decoration: unset;
      color: #696969; }
  footer .social {
    font-family: "PT Sans";
    font-style: italic;
    color: #000; }
    footer .social .time-item__icon img {
      max-width: 30px; }
    footer .social .time-item__text p:first-child {
      font-size: 15px; }
    footer .social .time-item__text p {
      font-size: 13px; }
    footer .social .phone-item__text p {
      font-size: 15px; }
    footer .social .phone-item__text a {
      color: #000;
      text-decoration: underline;
      font-size: 12px; }
    footer .social button.btn {
      font-family: "Lato", sans-serif;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      background-color: #128dba;
      border-radius: 5px; }
  footer .bottom-footer {
    background-color: #ece9e9;
    margin-top: 70px;
    padding: 15px;
    font-family: "Lato-Light", sans-serif;
    font-weight: 100; }
    footer .bottom-footer span {
      color: #696969; }
    footer .bottom-footer a {
      text-decoration: underline;
      color: #696969; }
