footer {
  $footer-bg: #f4f2f2;
  $footer-bottom: #ece9e9;

  background-color: $footer-bg;
  padding-top: 55px;

  h1 {
    color: #008fc0;
    font-family: "Myriad Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.25px;
  }
  .pseudo {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 26%;
      right: 0;
      height: 118px;
      width: 2px;
      border-radius: 1px;
      background-color: #106e98;
      opacity: 0.1;
    }
  }
  ul {
    &.social-icons {
      li {
        padding-right: 15px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    li {
      a {
        color: #696969;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.75px;
        position: relative;
        &:hover {
          text-decoration: unset;
          color: #696969;
        }
      }
    }
  }
  .social {
    font-family: "PT Sans-Regular";
    font-style: italic;
    color: #000;
    .time-item {
      &__icon {
        img {
          max-width: 30px;
        }
      }
      &__text {
        p:first-child {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .phone-item {
      &__text {
        p {
          font-size: 15px;
        }
        a {
          color: #000;
          text-decoration: underline;
          font-size: 12px;
        }
      }
    }
    button.btn {
      font-family: "Lato", sans-serif;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      background-color: #128dba;
      border-radius: 5px;
    }
  }
  .bottom-footer {
    background-color: $footer-bottom;
    margin-top: 70px;
    padding: 15px;
    font-family: "Lato-Light", sans-serif;
    font-weight: 100;
    span {
      color: #696969;
      &.brand {
        font-size: 25px;
        font-family: "SignPainter", sans-serif;
        color: #1abaf4;
        font-weight: bold;
      }
    }
    a {
      text-decoration: underline;
      color: #696969;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    ul {
      li {
        a {
          font-size: 12px;
        }
      }
    }
    .social {
      .time-item {
        &__icon {
          img {
            max-width: 25px;
          }
        }
        &__text {
          p:first-child {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .phone-item {
        &__text {
          p {
            font-size: 14px;
          }
          a {
            font-size: 10px;
          }
        }
      }
      button.btn {
        font-size: 14px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    ul {
      li {
        a {
          font-size: 13px;
        }
      }
      &.social-icons {
        margin-top: 23px;
      }
    }
    .pseudo {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 26%;
        height: 118px;
        width: 2px;
        border-radius: 1px;
        background-color: #106e98;
        opacity: 0.1;
      }
      &.pseudo-first {
        &:after {
          right: 6%;
        }
      }
      &.pseudo-second {
        &:after {
          right: 25%;
        }
      }
    }
    .social {
      margin-top: 20px;
      .time-item {
        &__icon {
          img {
            max-width: 25px;
          }
        }
        &__text {
          p:first-child {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .phone-item {
        &__text {
          display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
          }
          a {
            font-size: 12px;
          }
        }
      }
      button.btn {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    padding-top: 25px;
    h1 {
      margin-top: 10px;
      font-size: 20px;
    }
    .pseudo {
      &:after {
        display: none;
      }
    }
    ul {
      li {
        a {
          font-size: 13px;
        }
      }
      &.social-icons {
        margin-top: 23px;
      }
    }
    .social {
      margin-top: 20px;
      .time-item {
        &__icon {
          img {
            max-width: 25px;
          }
        }
        &__text {
          p:first-child {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .phone-item {
        &__text {
          display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
          }
          a {
            font-size: 12px;
          }
        }
      }
      button.btn {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    padding-top: 25px;
    h1 {
      margin-top: 10px;
      font-size: 20px;
    }
    .pseudo {
      &:after {
        display: none;
      }
    }
    ul {
      margin-top: 10px;
      li {
        a {
          font-size: 14px;
        }
      }
      &.social-icons {
        margin-top: 23px;
      }
    }
    .social {
      margin-top: 20px;
      .time-item {
        &__icon {
          img {
            max-width: 25px;
          }
        }
        &__text {
          p:first-child {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .phone-item {
        padding-top: 15px;
        &__text {
          display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
          }
          a {
            font-size: 12px;
          }
        }
      }
      button.btn {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
}
