#go-to-spain {
  padding-top: 60px;
  padding-bottom: 80px;
  h1 {
    font-family: "PT Sans", sans-serif;
    color: #008ebd;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 55px;
  }
  .go-to-spain-text {
    background-image: url("../images/spain-flag-lg.png");
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    padding-top: 30px;
    padding-bottom: 30px;
    p,
    ul {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      letter-spacing: 0.9px;
      font-size: 18px;
      color: #000;
    }
  }
  @media screen and (max-width: 575px) {
    padding-top: 35px;
    padding-bottom: 35px;
    h1 {
      font-size: 30px;
      margin-bottom: 25px;
    }
    .go-to-spain-text {
      padding-top: 0px;
      padding-bottom: 0px;
      p,
      ul {
        font-size: 15px;
      }
    }
  }
}
