nav.navbar {
  a.navbar-brand {
    font-family: "SignPainter", sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: #1abaf4;
  }
  .navbar-toggler {
    i {
      color: #fff;
    }
    &:focus {
      outline: unset;
    }
  }
  ul {
    &.social {
      li {
        padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
    li {
      .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.8);
      }
      a {
        font-family: "Lato-Regular", sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        position: relative;

        &.hover-underline-animation {
          &:after {
            background-color: #fff;
            bottom: 7px;
            width: 93%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 2px;
          }
        }
        &.btn {
          font-family: "Lato", sans-serif;
          color: #fff;
          font-size: 17px;
          font-weight: bold;
          background-color: #08507a;
          border-radius: 5px;
        }
        &.dropdown-item {
          color: #fff;
          font-family: "Lato", sans-serif;
          font-weight: 100;
          font-size: 15px;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    font-family: "PT Sans";
    font-style: italic;
    .time-item {
      &__icon {
        img {
          max-width: 30px;
        }
      }
      &__text {
        p:first-child {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .phone-item {
      &__text {
        p {
          font-size: 15px;
        }
        a {
          font-family: "PT Sans";
          font-style: italic;
          text-decoration: underline;
          font-size: 12px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.navbar-brand {
      font-size: 36px;
    }
    ul {
      li {
        a {
          font-size: 16px;
          &.btn {
            font-size: 15px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    a.navbar-brand {
      font-size: 32px;
    }
    ul {
      li {
        a {
          text-align: center;
          font-size: 16px;
          &.btn {
            font-size: 15px;
            width: 50%;
            margin: auto;
          }
        }
      }
    }
    .navbar-collapse {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: -10px;
      right: 0px;
      left: 0px;
      z-index: 100;
      height: 81vh;
      transition: all 0.5s;
      ul {
        transition: all 0.5s;
        height: 100%;
        justify-content: center;
        .dropdown-menu {
          background-color: unset;
          border: unset;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
